@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --font-display: 'Inter', sans-serif;
}


/*:root {*/
/*    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
/*    font-weight: 400;*/

/*    margin: 0 auto;*/
/*    text-align: center;*/

/*color-scheme: light dark;*/
/*color: rgba(255, 255, 255, 0.87);*/
/*background-color: #242424;*/

/*    font-synthesis: none;*/
/*    text-rendering: optimizeLegibility;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*body {*/
/*    margin: 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    place-items: center;*/
/*}*/

/*header {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    place-items: center;*/
/*    max-height: 10%;*/
/*}*/

/*h1 {*/
/*    font-size: 3.2em;*/
/*    margin: 0.5em;*/
/*}*/

/*h2, h5 {*/
/*    margin: 0;*/
/*    padding: 0.3em;*/
/*}*/

/*h3 {*/
/*    padding: 0;*/
/*    margin: auto;*/
/*}*/

/*p {*/
/*    padding: 0.3em;*/
/*}*/

/*button {*/
/*    border-radius: 8px;*/
/*    border: 1px solid transparent;*/
/*    padding: 0.6em 1.2em;*/
/*    font-size: 1em;*/
/*    font-weight: 500;*/
/*    font-family: inherit;*/
/*    background-color: #1a1a1a;*/
/*    cursor: pointer;*/
/*    transition: border-color 0.25s;*/
/*}*/

/*.button-section {*/
/*    padding: 0.6em 1.2em;*/
/*    display: flex;*/
/*    background-color: rebeccapurple;*/
/*    min-width: 60em;*/
/*    min-height: 4.5em;*/
/*}*/

/*.calc-btn {*/
/*    flex-grow: 1;*/
/*    margin: 0.6em 1.2em;*/
/*    text-align: center;*/
/*    color: #ffffff;*/
/*}*/

/*.selected {*/
/*    border-color: gold;*/
/*    border-width: 0.1em;*/
/*}*/

/*.hr-area {*/
/*    background-color: #5e109a;*/
/*    display: flex;*/
/*    !*flex-grow: 1;*!*/
/*    padding: 0 15em;*/
/*    min-height: 3em;*/
/*    align-content: center;*/
/*}*/

/*.input-style {*/
/*    font-family: inherit;*/
/*    background-color: #000000;*/
/*    margin: 0.6em 1.2em;*/
/*    max-width: 5em;*/
/*    min-height: 2.5em;*/
/*    color: #ffffff;*/
/*    border-radius: 5px;*/
/*    border: none;*/
/*    text-align: center;*/
/*}*/

/*label {*/
/*    flex-grow: 1;*/
/*    color: #ffffff;*/
/*    margin: auto;*/
/*}*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*.zone-section {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-grow: 1;*/
/*    background-color: black;*/
/*    max-height: 30em;*/
/*    padding: 0.2em;*/
/*}*/

/*#zone {*/
/*    display: flex;*/
/*    padding-left: 0.5em;*/
/*    padding-right: 0.5em;*/
/*    flex-grow: 1;*/
/*    margin: 0.3em;*/
/*    min-height: 3em;*/
/*    min-width: 70em;*/
/*}*/

/*.zone-range {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    min-width: 7em;*/
/*    padding: 0.1em;*/
/*    border-right: black solid 6px;*/
/*}*/


/*.zone-results {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-grow: 1;*/
/*    margin: 0 0.3em 0.1em 0.3em;*/
/*    max-width: 25%;*/
/*    min-height: 5%;*/
/*}*/

/*.zone-description {*/
/*    text-align: left;*/
/*    padding: 0.5em;*/
/*    max-width: 45em;*/
/*    border-left: black solid 6px;*/
/*}*/

.z5 {
    background: linear-gradient(90deg, rgba(252, 45, 45, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.z4 {
    background: linear-gradient(90deg, rgba(255, 134, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.z3 {
    background: linear-gradient(90deg, rgba(13, 204, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.z2 {
    background: linear-gradient(90deg, rgba(0, 160, 218, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.z1 {
    background: linear-gradient(90deg, rgb(199, 199, 199) 0%, rgba(255, 255, 255, 0) 100%);
}
